/* Variables
* ===============
*
* All variables and most of the configuration is defined on this page. */
/*== Colors*/
/**/
/*## Gray and brand colors for use across theme.*/
/*== Scaffolding*/
/**/
/*## Settings for some of the most global styles.*/
/*** Background color for `<body>`.*/
/*** Global text color on `<body>`.*/
/*** Global textual link color.*/
/*** Link hover color set via `darken()` function.*/
/* 20/14*/
/*** By default, this inherits from the `<body>`.*/
/* spacing */
/*== Buttons*/
/**/
/*## For each of Theme buttons, define text, background and border color.*/
/*== Overlays*/
/**/
/*## Color overlays over images on banner or image grid galleries*/
.botmenubuilder__body {
  padding: 40px; }
.botmenubuilder__header {
  background: #f9fafc;
  box-shadow: 0 6px 12px #8c98a414;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 9; }
.botmenubuilder__add__fields {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .botmenubuilder__add__fields__item {
    background: #fff;
    box-shadow: 0 6px 12px #f9fafc;
    border: 1px solid rgba(231, 234, 243, 0.7);
    border-radius: 4px;
    overflow: hidden; }
.botmenubuilder__item {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 6px 12px #8c98a414;
  border: 1px solid rgba(231, 234, 243, 0.7);
  transition: box-shadow ease 0.3s; }
  .botmenubuilder__item:hover {
    box-shadow: 0 4px 8px 0px #b7b7b7; }
  .botmenubuilder__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    color: #0e0d0a; }
    .botmenubuilder__item__header h6 {
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px; }
  .botmenubuilder__item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
  .botmenubuilder__item__options__wrapper {
    color: #0e0d0a; }
    .botmenubuilder__item__options__wrapper h6 {
      margin: 0;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px; }
  .botmenubuilder__item:not(:last-child) {
    margin-bottom: 20px; }
.botmenubuilder__options {
  margin-bottom: 10px; }
  .botmenubuilder__options__item {
    width: 100%; }
    .botmenubuilder__options__item:not(:last-child) {
      margin-bottom: 10px; }
    .botmenubuilder__options__item__inner__wrapper:hover > .botmenubuilder__options__child:before {
      background: #17a2b8; }
  .botmenubuilder__options__field {
    display: block;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; }
  .botmenubuilder__options__actions {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .botmenubuilder__options__actions__item:not(:last-child) {
      margin-right: 10px; }
  .botmenubuilder__options__parent {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .botmenubuilder__options__child {
    position: relative; }
    .botmenubuilder__options__child:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0; }
    .botmenubuilder__options__child:before {
      height: 100%;
      width: 2px;
      background: #e3e6ed;
      top: 50%;
      left: 6px;
      transform: translateY(-50%);
      transition: all ease 0.3s; }
    .botmenubuilder__options__child .botmenubuilder__options__item__inner__wrapper {
      display: block;
      padding: 8px 0 0 26px;
      margin-bottom: 8px; }
.botmenubuilder__datafields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
.botmenubuilder__wrapper {
  background: #f9fafc;
  position: relative;
  box-shadow: 0 6px 12px #f9fafc;
  border-radius: 8px;
  width: 100%; }
  .botmenubuilder__wrapper textarea,
  .botmenubuilder__wrapper input[type="text"],
  .botmenubuilder__wrapper input[type="number"] {
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid #e3e6ed;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
    line-height: 1.4;
    background-color: #fff;
    margin: 0;
    transition: all ease 0.3s; }
    .botmenubuilder__wrapper textarea.botmenubuilder__field-has--error,
    .botmenubuilder__wrapper input[type="text"].botmenubuilder__field-has--error,
    .botmenubuilder__wrapper input[type="number"].botmenubuilder__field-has--error {
      border: 1px solid #dc3545; }
  .botmenubuilder__wrapper textarea {
    resize: vertical; }
  .botmenubuilder__wrapper .hide {
    display: none !important; }
  .botmenubuilder__wrapper .button {
    font-weight: normal;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 2px;
    display: block;
    transition: all ease 0.3s;
    text-decoration: none;
    min-width: 10px;
    min-height: 10px; }
    .botmenubuilder__wrapper .button:hover {
      background: #e3e6ed;
      border-color: #e3e6ed;
      text-decoration: none; }
    .botmenubuilder__wrapper .button:focus {
      border-color: #e3e6ed;
      text-decoration: none; }
    .botmenubuilder__wrapper .button-icon {
      padding: 0;
      font-size: 18px;
      line-height: 1; }
      .botmenubuilder__wrapper .button-icon--lg {
        font-size: 22px; }
      .botmenubuilder__wrapper .button-icon [class^="icon-"],
      .botmenubuilder__wrapper .button-icon [class*=" icon-"] {
        display: block; }
    .botmenubuilder__wrapper .button-icontext {
      display: flex;
      justify-content: center;
      align-items: center; }
      .botmenubuilder__wrapper .button-icontext span {
        font-size: 14px;
        line-height: 1.4; }
      .botmenubuilder__wrapper .button-icontext [class^="icon-"],
      .botmenubuilder__wrapper .button-icontext [class*=" icon-"] {
        font-size: 18px;
        line-height: 1;
        display: block;
        margin-right: 10px; }
      .botmenubuilder__wrapper .button-icontext--right [class^="icon-"],
      .botmenubuilder__wrapper .button-icontext--right [class*=" icon-"] {
        margin-right: auto;
        margin-left: 10px; }
      .botmenubuilder__wrapper .button-icontext--iconlg {
        flex-direction: column; }
        .botmenubuilder__wrapper .button-icontext--iconlg [class^="icon-"],
        .botmenubuilder__wrapper .button-icontext--iconlg [class*=" icon-"] {
          font-size: 28px;
          margin: 0;
          margin-bottom: 10px; }
    .botmenubuilder__wrapper .button-round {
      padding: 6px;
      border-radius: 50px; }
      .botmenubuilder__wrapper .button-round--lg {
        padding: 12px; }
      .botmenubuilder__wrapper .button-round.button-icontext {
        padding-right: 10px;
        padding-left: 10px; }
    .botmenubuilder__wrapper .button-border-primary {
      border-color: #007bff; }
    .botmenubuilder__wrapper .button-border-secondary {
      border-color: #6c757d; }
    .botmenubuilder__wrapper .button-border-success {
      border-color: #28a745; }
    .botmenubuilder__wrapper .button-border-info {
      border-color: #17a2b8; }
    .botmenubuilder__wrapper .button-border-warning {
      border-color: #ffc107; }
    .botmenubuilder__wrapper .button-border-dark {
      border-color: #343a40; }
    .botmenubuilder__wrapper .button-border-danger {
      border-color: #dc3545; }
    .botmenubuilder__wrapper .button-fill {
      background-color: #fff;
      border-color: #fff;
      color: #555; }
      .botmenubuilder__wrapper .button-fill:hover {
        background: #e3e6ed;
        border-color: #e3e6ed;
        color: #555; }
      .botmenubuilder__wrapper .button-fill:focus {
        border-color: #e3e6ed;
        color: #555; }
      .botmenubuilder__wrapper .button-fill-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff; }
        .botmenubuilder__wrapper .button-fill-primary:hover {
          color: #fff;
          background-color: #006ce0;
          border-color: #006ce0; }
        .botmenubuilder__wrapper .button-fill-primary:focus {
          border-color: #006ce0; }
      .botmenubuilder__wrapper .button-fill-info {
        color: #fff;
        background-color: #17b7cf;
        border-color: #17b7cf; }
        .botmenubuilder__wrapper .button-fill-info:hover {
          color: #fff;
          background-color: #17a2b8;
          border-color: #17a2b8; }
        .botmenubuilder__wrapper .button-fill-info:focus {
          border-color: #17a2b8; }
      .botmenubuilder__wrapper .button-fill-success {
        color: #fff;
        background-color: #33af50;
        border-color: #33af50; }
        .botmenubuilder__wrapper .button-fill-success:hover {
          color: #fff;
          background-color: #28a745;
          border-color: #28a745; }
        .botmenubuilder__wrapper .button-fill-success:focus {
          border-color: #28a745; }
    .botmenubuilder__wrapper .button-shadow {
      padding: 6px;
      border-radius: 50px;
      box-shadow: 0 2px 4px 0px #e1e6ec; }
      .botmenubuilder__wrapper .button-shadow:hover, .botmenubuilder__wrapper .button-shadow:focus {
        box-shadow: 0 4px 8px 0px #b7b7b7; }
    .botmenubuilder__wrapper .button-hover-primary, .botmenubuilder__wrapper .button-hover-secondary, .botmenubuilder__wrapper .button-hover-success, .botmenubuilder__wrapper .button-hover-info, .botmenubuilder__wrapper .button-hover-warning, .botmenubuilder__wrapper .button-hover-dark, .botmenubuilder__wrapper .button-hover-danger {
      color: #555; }
    .botmenubuilder__wrapper .button-hover-primary:hover {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff; }
    .botmenubuilder__wrapper .button-hover-primary:focus {
      border-color: #007bff; }
    .botmenubuilder__wrapper .button-hover-secondary:hover {
      color: #fff;
      background-color: #6c757d;
      border-color: #6c757d; }
    .botmenubuilder__wrapper .button-hover-secondary:focus {
      border-color: #6c757d; }
    .botmenubuilder__wrapper .button-hover-success:hover {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745; }
    .botmenubuilder__wrapper .button-hover-success:focus {
      border-color: #28a745; }
    .botmenubuilder__wrapper .button-hover-info:hover {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8; }
    .botmenubuilder__wrapper .button-hover-info:focus {
      border-color: #17a2b8; }
    .botmenubuilder__wrapper .button-hover-warning:hover {
      color: #fff;
      background-color: #ffc107;
      border-color: #ffc107; }
    .botmenubuilder__wrapper .button-hover-warning:focus {
      border-color: #ffc107; }
    .botmenubuilder__wrapper .button-hover-dark:hover {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40; }
    .botmenubuilder__wrapper .button-hover-dark:focus {
      border-color: #343a40; }
    .botmenubuilder__wrapper .button-hover-danger:hover {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545; }
    .botmenubuilder__wrapper .button-hover-danger:focus {
      border-color: #dc3545; }
    .botmenubuilder__wrapper .button--lg {
      padding: 8px 14px; }
