.botmenuviewer {
    &__header,
    &__footer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    &__header {
        background: #101820FF;
        color: #fff;
        padding: 30px 70px;
        box-shadow: 0px 0 10px 20px #f1f3f6, 0px 0 5px 10px #f1f3f6;
    }
    &__logo {
        img {
            margin: 0 auto;
            max-height: 62px;
        }
    }

    &__body {
        padding: 124px 0 100px 0;
        background: #f1f3f6;
        min-height: 100vh;
        display: flex;
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        margin: 0;
        min-height: 100%;
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        &__wrapper {
            position: relative;
            width: 100%;
            overflow: hidden;
            overflow-y: auto;
        }
    }


    &__footer {
        top: auto;
        bottom: 0;
        &__nav {
            padding: 10px;
        }
    }

    &__sendmessage {
        background: #fff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 50px;
        textarea {
            width: 100%;
            resize: none;
            font-size: 1.125rem;
            line-height: 1.375rem;
            border: 0;
            padding: 12px 24px 2px 24px;
            margin-right: 20px;
            border-radius: 50px;
        }
        &__wraper {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    // &__suggestions__wrapper,
    &__company__message__container,
    &__message__user {
        padding: 12px 20px;
        background: #fff;
        box-shadow: 0 2px 4px 0px #e1e6ec;
        font-size: 16px;
        line-height: 20px;
    }

    &__message {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        width: 100%;
        &--start {
            &-right {
                justify-content: flex-start;
            }
            &-left {
                justify-content: flex-end;
            }
        }
        &__row {

        }
        &__user {
            background: #101820FF;
            color: #fff;
            border-radius: 50px;
            margin-left: 30px;
        }
    }

    &__company {
        &__avatar {
            margin-right: 10px;
                background: #101820FF;
                height: 48px;
                width: 48px;
                border-radius: 50px;
                overflow: hidden;
                background-size: cover;
                background-position: center center;
                padding: 24px;
        }
        &__message {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-right: 30px;
            &__container {
                border-radius: 50px;
                width: 100%;
            }
        }
    }

    &__time__divider {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #898c8e;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    &__suggestions__wrapper,
    &__replies {
        width: 100%;
    }

    &__replies {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }


    &__suggestions {
        &__wrapper {
            text-align: center;
            padding: 12px 20px 0;
        }
        &__header {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 12px;
        }
        &__option {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            &__item {
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            [class^="icon-"], [class*=" icon-"] {
                margin-right: 10px;
                font-size: 22px;
                line-height: 22px;
            }
            h5 {
                font-size: 16px;
                line-height: 20px;
                margin: 0;
            }
        }
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        &__item {
            margin: 5px;
            .button {
                display: inline-flex !important;
                border-radius: 40px !important;
                span {
                    font-size: 16px !important;
                    line-height: 20px !important;
                }
            }
        }
    }
    
    &__wrapper {
        position: relative;
        .img-responsive {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }

        @import 'cust_button';
    }
}

@media (max-width: 768px) {
    .botmenuviewer {
        &__suggestions{
            &__header {
                flex-direction: column;
            }
            &__title {
                margin-right: 0;
                margin-bottom: 5px;
            }
            &__option {
                &--with-icon {
                    flex-direction: column;
                    .botmenuviewer__suggestions__option {
                        &__item {
                            &:not(:last-child) {
                                margin-right: 0;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}